.category {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    li {
        background: #FFFFFF;
        width: 121px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.82px;
        color: #000000;
    }
}